.card-header1 {
  background-color: white;
}
.my-pic1 {
  width: 40px !important;
  height: 40px !important;
}
.input-comment {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
// .modal-dialog {
//   width: 800px;
// }
