.card-content {
  width: 100% !important;
  height: 80px;
}

.card-div {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 1px 4px rgba(128, 128, 128, 0.2);
  border-top: solid #343a40;
}

.card-title {
  color: #9496a8;
  font-size: 15px;
}

.card-data {
  color: #111;
}

.card-icon {
  background-color: #343a40;
  text-align: center;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 23px;
  margin-left: -5px !important;
  margin-top: 4px !important;
  padding-top: 3px !important;
  border-radius: 5px;
  display: inline-block;
}

.table-wrapp {
  font-size: 34px !important;
}

.rtxt {
  position: relative;
  white-space: normal;
}
.report-size {
  width: 100%;
  height: 180px;
}

// MEDIA-QUERRIES

@media (max-width: 992px) {
  .report-size {
    width: 100%;
    height: 180;
  }
  .move-report-top {
    padding-top: 5%;
  }
}

@media (max-width: 768px) {
  .report-size {
    width: 100%;
    height: 180;
  }
  .move-report-top {
    padding-top: 8%;
  }
}

@media (max-width: 576px) {
  .report-size {
    width: 100%;
    height: 180;
  }
  .move-report-top {
    padding-top: 23%;
  }
}

@media (max-width: 320px) {
  .report-size {
    width: 100%;
    height: 180;
  }
  .move-report-top {
    padding-top: 30%;
  }
}
