.my-tooltip-content {
  position: relative;
  display: block !important;
}

.activity-my-tooltip-content .my-tooltip-text {
  width: 470px;
  max-height: 362px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
  overflow-y: auto;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-left: -440px;
  margin-top: 12.1px;
  transition: opacity 0.3s;
}
.activity-my-tooltip-content {
  position: relative;
  display: block !important;}
.my-tooltip-content .my-tooltip-text {
  width: 320px;
  height: 260px;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
  overflow-y: auto;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-left: -285px;
  margin-top: 12.1px;
  transition: opacity 0.3s;
}
.activity-my-tool-icon {
  position: absolute;
  display: block;
  padding: 0px !important;
  font-size: 25px;
  top: 70%;
  right: 29px;
  color: #ccc;
}
.my-tool-icon {
  position: absolute;
  display: block;
  padding: 0px !important;
  font-size: 25px;
  top: 0%;
  right: 110px;
  color: #ccc;
}
.tooltip-card-div {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.tooltip-card-div .search-img-display .search-img {
  height: 40px;
  width: 40px;
}
.show-tooltip {
  visibility: visible;
  opacity: 1;
}
.hide-tooltip {
  visibility: hidden;
  opacity: 0;
}
.close-tool-tip-btn {
  font-size: 20px !important;
  color: #b3b3b3 !important;
  padding: 0px !important;
  line-height: 1px;
  display: block !important;
  height: 20px;
  font-weight: normal !important;
}

@media (max-width: 1150px) {
  
}

@media (max-width: 992px) {
  .my-tooltip-content .my-tooltip-text {
    width: 320px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
    overflow-y: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: 165px;
    margin-top: 12.1px;
    transition: opacity 0.3s;
  }
 
}

@media (max-width: 768px) {
  .my-tooltip-content .my-tooltip-text {
    width: 320px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
    overflow-y: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: 20px;
    margin-top: 12.1px;
    transition: opacity 0.3s;
  }
  
}

@media (max-width: 576px) {
  .my-tooltip-content .my-tooltip-text {
    width: 320px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
    overflow-y: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: 20px;
    margin-top: 12.1px;
    transition: opacity 0.3s;
  }
 
}
@media (max-width: 508px) {
  .my-tooltip-content .my-tooltip-text {
    width: 320px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
    overflow-y: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: 0px;
    margin-top: 12.1px;
    transition: opacity 0.3s;
  }
}
@media (max-width: 430px) {
  .my-tooltip-content .my-tooltip-text {
    width: 320px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
    overflow-y: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left:-35px;
    margin-top: 12.1px;
    transition: opacity 0.3s;
  }
  
}
@media (max-width: 340px) {
  .my-tooltip-content .my-tooltip-text {
    width: 320px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 3.5px rgba(128, 128, 128, 0.3);
    overflow-y: auto;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-left: -62px;
    margin-top: 12.1px;
    transition: opacity 0.3s;
  }
 
}

